<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <title>Admin Portal</title>
  <meta content="" name="description"/>
  <meta content="width=device-width" name="viewport"/>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css" rel="stylesheet"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!--  <link href="/css/style.css" rel="stylesheet"/> -->
</head>
<body>
<p>Admin Portal</p>



<!-- TODO: Use th:each to make this page more dynamic
<table>
<tr th:each="useCase : ${useCases}"> 
<td th:text="${useCase}"> UseCase </td>
</tr>
</table> -->


<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button th:text="${payment}" data-toggle="collapse" data-target="#paymentForm"  class="btn btn-link" aria-expanded="true" aria-controls="collapseOne" type="button">
          UseCase
        </button>
      </h2>
    </div>

    <div id="paymentForm" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
				<form action="#" th:action="@{/paymentForm}" th:object="${paymentForm}" method="post">
    			<p>Name: <input type="text" th:field="*{name}" /></p>
<!--        	<p>Message: <input type="text" th:field="*{content}" /></p>  -->
        	<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    		</form>
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia 
      </div>
    </div>
  </div>
</div>


<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button th:text="${user}" data-toggle="collapse" data-target="#userForm"  class="btn btn-link" aria-expanded="true" aria-controls="collapseOne" type="button">
          UseCase
        </button>
      </h2>
    </div>

    <div id="userForm" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia 
      </div>
    </div>
  </div>
</div>

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button th:text="${customer}" data-toggle="collapse" data-target="#customerForm"  class="btn btn-link" aria-expanded="true" aria-controls="collapseOne" type="button">
          UseCase
        </button>
      </h2>
    </div>

    <div id="customerForm" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia 
      </div>
    </div>
  </div>
</div>

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button th:text="${groups}" data-toggle="collapse" data-target="#groupsForm"  class="btn btn-link" aria-expanded="true" aria-controls="collapseOne" type="button">
          UseCase
        </button>
      </h2>
    </div>

    <div id="groupsForm" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia 
      </div>
    </div>
  </div>
</div>

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button th:text="${itineraries}" data-toggle="collapse" data-target="#itinerariesForm"  class="btn btn-link" aria-expanded="true" aria-controls="collapseOne" type="button">
          UseCase
        </button>
      </h2>
    </div>

    <div id="itinerariesForm" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia 
      </div>
    </div>
  </div>
</div>

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button th:text="${orders}" data-toggle="collapse" data-target="#ordersForm"  class="btn btn-link" aria-expanded="true" aria-controls="collapseOne" type="button">
          UseCase
        </button>
      </h2>
    </div>

    <div id="ordersForm" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia 
      </div>
    </div>
  </div>
</div>

<!--
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button th:text="${payment}" data-toggle="collapse" data-target="#paymentForm"  class="btn btn-link" aria-expanded="true" aria-controls="collapseOne" type="button">
          UseCase
        </button>
      </h2>
    </div>

    <div id="paymentForm" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia 
      </div>
    </div>
  </div>
</div>

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button th:text="${payment}" data-toggle="collapse" data-target="#paymentForm"  class="btn btn-link" aria-expanded="true" aria-controls="collapseOne" type="button">
          UseCase
        </button>
      </h2>
    </div>

    <div id="paymentForm" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia 
      </div>
    </div>
  </div>
</div>


  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" th:text="${orders}">
          Collapsible Group Item #2
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon offici
      </div>
    </div>
  </div>
</div>

-->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
