<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="base :: header"/>
</head>
<body>
<th:block th:replace="base :: navbar"/>
<h1>Search Trips</h1>
<!--/*@thymesVar id="TripSearchRequest" type="edu.drexel.TrainDemo.trips.models.TripSearchRequest"*/-->
<form action="#" id="userProfileForm" method="post" th:action="@{/trips/search/submit}"
      th:object="${TripSearchRequest}">
    <label>From</label>
    <select th:field="*{from}">
        <option value="">Select From</option>
        <option th:each="station: ${allStations}" th:text="${station.id} + ': ' + ${station.name}"
                th:value="${station.id}"></option>
    </select>
    <label>To</label>
    <select th:field="*{to}">
        <option value="">Select To</option>
        <option th:each="station: ${allStations}" th:text="${station.id} + ': ' + ${station.name}"
                th:value="${station.id}"></option>
    </select>
    <button>Submit</button>
</form>
</body>
<footer>
    <th:block th:replace="base :: footer"/>
</footer>
</html>