<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js" type="text/javascript"></script>
</head>
<body>
<p>Manage User Profile</p>
<!--/*@thymesVar id="CurrentUser" type="edu.drexel.TrainDemo.user.models.User"*/-->
<form action="#" id="userProfileForm" method="post" th:action="@{/user/manage/submit}" th:object="${CurrentUser}">
    <label>Name</label>
    <input id="userName" name="name" th:field="*{name}" type="text"/>
    <br/>
    <label>Email</label>
    <input id="email" name="email" th:field="*{email}" type="text"/>
    <br/>
    <button>Submit</button>
</form>
<form action="#" id="cancelEditForm" method="post" th:action="@{/user/manage/cancel}">
    <button>Cancel</button>
</form>
</body>
</html>