<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="/fragments/base :: header"/>
</head>
<body>
<th:block th:replace="/fragments/base :: navbar"/>
<h1>Manage User Profile</h1>
<!--/*@thymesVar id="CurrentUser" type="edu.drexel.TrainDemo.user.models.User"*/-->
<form id="userProfileForm" method="post" th:action="@{/user/manage/submit}" th:object="${CurrentUser}">
    <label>Name</label>
    <input th:field="*{name}" type="text"/>
    <br/>
    <label>Email</label>
    <input th:field="*{email}" type="text"/>
    <br/>
    <button>Submit</button>
</form>
</body>
<footer>
    <th:block th:replace="/fragments/base :: footer"/>
</footer>
</html>