<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="base :: header"/>
</head>
<body>
<th:block th:replace="base :: navbar"/>
<p>Shopping Cart</p>
<table>
    <tr>
        <th>FROM station</th>
        <th>DEPARTURE time</th>
        <th>TO station</th>
        <th>ARRIVAL time</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    <!--/*@thymesVar id="itinerary" type="edu.drexel.TrainDemo.trips.models.Itinerary"*/-->
    <th:block th:each="itinerary : ${ShoppingCart.items}" th:with="numSegments = ${itinerary.segments.size()}">
        <tr>
            <td th:text="${itinerary.getFrom().name}"/>
            <td th:text="${itinerary.getTo().name}"></td>
            <td th:text="${itinerary.getDeparture()}"></td>
            <td th:text="${itinerary.getArrival()}"></td>
            <td th:text="1"/>
            <td th:text="FREE.99"/>
        </tr>
    </th:block>
</table>
<a th:href="@{/checkout}" th:text="Checkout"/>

</body>
<footer>
    <th:block th:replace="base :: footer"/>
</footer>
</html>