<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="base :: header"/>
</head>
<body>
<th:block th:replace="base :: navbar"/>
<h1>Checkout Form</h1>
<!--/*@thymesVar id="error" type="edu.drexel.TrainDemo.checkout.models.CheckoutError"*/-->
<div class="alert alert-danger" th:if="${error}" th:text="${error.message}"/>
<!--/*@thymesVar id="CustomerBilling" type="edu.drexel.TrainDemo.checkout.models.Billing"*/-->
<form id="userBillingForm" method="post" th:action="@{/checkout/submit}" th:object="${CustomerBilling}">
    <label>Credit Card</label>
    <input th:field="*{creditCard}" type="text"/>
    <br/>
    <button>Submit</button>
</form>
</body>
<footer>
    <th:block th:replace="base :: footer"/>
</footer>
</html>