<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js" type="text/javascript"></script>
</head>
<body>
<p>Checkout Form</p>
<!--/*@thymesVar id="CustomerBilling" type="edu.drexel.TrainDemo.checkout.models.Billing"*/-->
<form id="userBillingForm" method="post" th:action="@{/checkout/submit}" th:object="${CustomerBilling}">
    <label>Credit Card</label>
    <input th:field="*{creditCard}" type="text"/>
    <br/>
    <button>Submit</button>
</form>
<!--/*@thymesVar id="error" type="edu.drexel.TrainDemo.checkout.models.CheckoutError"*/-->
<div th:text="${error?.message}"></div>
</body>
</html>